script#__nls_script(type='text/javascript').
    window.__nls = window.__nls || [];
    (function() {
        var nls = document.createElement('script'); nls.type = 'text/javascript'; nls.async = true; nls.id = '__nls_script_async';
        nls.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.navilytics.com/nls.js?mid=1560&pid=786';
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(nls, x);
    })();