script(type='text/javascript').
    var _mfq = _mfq || [];
    (function() {
        var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/25842c97-904e-4402-abce-677ca06962b9.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();